# ========================
# FRAMES Environment Variables
# ========================

# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# MongoDB
MONGODB_URI=mongodb+srv://varunshettyv7_db_user:Heheboi2512@voruncluster.brqi4ap.mongodb.net/frames?retryWrites=true&w=majority&appName=VorunCluster

# JWT
JWT_SECRET=3k6tcu3d3tjOwasU62ev1D0tmQHNxFMgc043+YqKcB2lpL48K0RpAEXjQsNZR9rMmhyf2JnxfxPCmbZojwkqNw==
JWT_REFRESH_SECRET=QCS0QpYd8dcJalx9Pl/WrZgKmTKQkPqFmXHQsfPN82B2vVWsMAaUw7w7cc5WujcOCA0MgO5se52LsVgpmw5SUQ==

# Cloudinary
CLOUDINARY_CLOUD_NAME=dtkvxraeo
CLOUDINARY_API_KEY=289486692312688
CLOUDINARY_API_SECRET=ZiJ4VzUohZoVRCQ-xBydpwG-uzo

# Google OAuth 2.0
GOOGLE_CLIENT_ID=288585742834-o4p7fcjbli1smpe91fa2h8uvfrc424dt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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